@font-face {
    font-family: 'NeueHaasUnicaPro-Regular';
    src: url(../Fonts/NeueHaasUnicaPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NeueHaasUnicaPro-Black';
    src: url(../Fonts/NeueHaasUnicaPro-XBlack.ttf) format('truetype');
}